$main: #1C2023;
$dark: #30373F;
$violet: #8856D9;
$sea: #A9C7C7;
$grey: #8C96A0;
$orange: #FF4136;
$white: #fff;
$black: #000;




%inter-400 {
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
}

%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%rubik-700 {
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: 700;
}